@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Nunito Sans", sans-serif;
  }
}

@layer utilities {
  .grid-column-auto-fill {
    grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
  }
}
